footer.footer 
  .wrapper
    .footer__company
      img(src="./img/logo.png" alt="Logo").footer__logo
      span.footer__copyright &#169; Auraglow 2021
    .footer__products
      h3.footer__products-title Products
      ul.footer__products-list
        li.footer__products-item
          a(href="#").footer__products-anchor Complete LED Whitening Kit
        li.footer__products-item
          a(href="#").footer__products-anchor Custom Whitening Kit
        li.footer__products-item
          a(href="#").footer__products-anchor Whitening Strips
        li.footer__products-item
          a(href="#").footer__products-anchor Whitening Pen
        li.footer__products-item
          a(href="#").footer__products-anchor Daily Toothpaste
        li.footer__products-item
          a(href="#").footer__products-anchor Whitening Gel
        li.footer__products-item
          a(href="#").footer__products-anchor Extra Strength Whitening Gel
        li.footer__products-item
          a(href="#").footer__products-anchor LED Whitening Light
    .footer__company
      h3.footer__company-title Company
      ul.footer__company-list 
        li.footer__company-item
          a(href="#").footer__company-anchor Blog
        li.footer__company-item
          a(href="#").footer__company-anchor Reviews
        li.footer__company-item
          a(href="#").footer__company-anchor Our Story
        li.footer__company-item
          a(href="#").footer__company-anchor Guarantee
        li.footer__company-item
          a(href="#").footer__company-anchor Virtual Mirror
        li.footer__company-item
          a(href="#").footer__company-anchor Clinical Study
        li.footer__company-item
          a(href="#").footer__company-anchor Where to Buy
    .footer__support
      h3.footer__support-title Support
      ul.footer__support-list 
        li.footer__support-item 
          a(href="#").footer__support-anchor FAQs
        li.footer__support-item 
          a(href="#").footer__support-anchor Contact
        li.footer__support-item 
          a(href="#").footer__support-anchor Privacy Policy
        li.footer__support-item 
          a(href="#").footer__support-anchor Terms of Service
        li.footer__support-item 
          a(href="#").footer__support-anchor Shipping & Returns
    .footer__subscribe 
      form.footer__subscribe-form
        label.footer__subscribe-signup Sign up for the latest in oral wellness
        input(type="email")
        button(type="button") Subscribe
      .footer__subscribe-social 
        a(href="#").footer__subscribe-social-link
          img(src="./img/fb.png" alt="Facebook link")
        a(href="#").footer__subscribe-social-link
          img(src="./img/inst.png" alt="Instagram link")