footer.footer 
  .wrapper
    .footer__company
      img(src="./img/logo-white.png" alt="Logo").footer__logo
      span.footer__copyright &#169; Auraglow 2021
    .footer__products.footer__list
      h3.footer__products-title.footer__list-title Products
      ul.footer__products-list.footer__list
        li.footer__products-item.footer__list-item
          a(href="#").footer__products-anchor.footer__list-anchor Complete LED Whitening Kit
        li.footer__products-item.footer__list-item
          a(href="#").footer__products-anchor.footer__list-anchor Custom Whitening Kit
        li.footer__products-item.footer__list-item
          a(href="#").footer__products-anchor.footer__list-anchor Whitening Strips
        li.footer__products-item.footer__list-item
          a(href="#").footer__products-anchor.footer__list-anchor Whitening Pen
        li.footer__products-item.footer__list-item
          a(href="#").footer__products-anchor.footer__list-anchor Daily Toothpaste
        li.footer__products-item.footer__list-item
          a(href="#").footer__products-anchor.footer__list-anchor Whitening Gel
        li.footer__products-item.footer__list-item
          a(href="#").footer__products-anchor.footer__list-anchor Extra Strength Whitening Gel
        li.footer__products-item.footer__list-item
          a(href="#").footer__products-anchor.footer__list-anchor LED Whitening Light
    .footer__company.footer__list
      h3.footer__company-title.footer__list-title Company
      ul.footer__company-list.footer__list
        li.footer__company-item.footer__list-item
          a(href="#").footer__company-anchor.footer__list-anchor Blog
        li.footer__company-item.footer__list-item
          a(href="#").footer__company-anchor.footer__list-anchor Reviews
        li.footer__company-item.footer__list-item
          a(href="#").footer__company-anchor.footer__list-anchor Our Story
        li.footer__company-item.footer__list-item
          a(href="#").footer__company-anchor.footer__list-anchor Guarantee
        li.footer__company-item.footer__list-item
          a(href="#").footer__company-anchor.footer__list-anchor Virtual Mirror
        li.footer__company-item.footer__list-item
          a(href="#").footer__company-anchor.footer__list-anchor Clinical Study
        li.footer__company-item.footer__list-item
          a(href="#").footer__company-anchor.footer__list-anchor Where to Buy
    .footer__support.footer__list
      h3.footer__support-title.footer__list-title Support
      ul.footer__support-list.footer__list
        li.footer__support-item.footer__list-item
          a(href="#").footer__support-anchor.footer__list-anchor FAQs
        li.footer__support-item.footer__list-item 
          a(href="#").footer__support-anchor.footer__list-anchor Contact
        li.footer__support-item.footer__list-item 
          a(href="#").footer__support-anchor.footer__list-anchor Privacy Policy
        li.footer__support-item.footer__list-item 
          a(href="#").footer__support-anchor.footer__list-anchor Terms of Service
        li.footer__support-item.footer__list-item 
          a(href="#").footer__support-anchor.footer__list-anchor Shipping & Returns
    .footer__subscribe 
      form.footer__subscribe-form
        label.footer__subscribe-signup Sign up for the latest in oral wellness
        input(type="email")
        button(type="button") Subscribe
      .footer__subscribe-social 
        a(href="#").footer__subscribe-social-link
          img(src="./img/fb.png" alt="Facebook link")
        a(href="#").footer__subscribe-social-link
          img(src="./img/inst.png" alt="Instagram link")