header.header
  .popup
    .wrapper
      span.popup-text New look, new products. Available exclusively at 
      a(href="#") Auraglow.com
    
  nav.nav
    .wrapper 
      img(src="./img/logo.png" alt="logo").nav__logo
      ul.nav__links
        li.nav__link-item
          a(href="#").nav__anchor Products 
        li.nav__link-item
          a(href="#").nav__anchor Our Story 
        li.nav__link-item
          a(href="#").nav__anchor Reviews
        li.nav__link-item
          a(href="#").nav__anchor Virtual Mirror 
      div.nav__cart
        img(src="./img/cart.png" alt="Cart")
  
  .header__title
    .wrapper
      h1.header__title-text Oral care is self care.
      a(href="#").btn Find your glow