a {
  text-decoration: none;
}

.about {
  background-color: $color-blue-4;
  padding-top: 141px;

  .wrapper {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
  }

  &__title {
    margin-top: 0;
    color: $color-orange;
    text-align: center;
    @include roboto-normal(19px, 30px);
  }

  &__text {
    display: inline-block;
    width: 831px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 135px;
    @include roboto-normal(36px, 46px);
    color: $color-white;
  }
}

.promises {
  padding-top: 71px;
  padding-bottom: 42px;
  background-color: $color-blue-1;

  &__title {
    @include roboto-normal(36px, 40px);
    text-align: center;
    margin-bottom: 47px;
  }

  &__items {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  &__item {
    width: 310px;
    margin-right: 23px;
    padding-right: 12px;
    padding-left: 12px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 93px;
  padding-bottom: 180px;

  &__title {
    @include roboto-normal(19px, 30px);
    color: $color-blue-3;
    margin-bottom: 40px;
  }

  &__description {
    display: inline-block;
    @include roboto-normal(36px, 40px);
    margin-bottom: 47px;
  }

  &__card {
    display: flex;
    position: relative;
    margin-bottom: 80px;
    height: 500px;
    width: 1282px;

    &:last-child {
      margin-bottom: 0;
    }

    &-ltr {
      flex-direction: row;
    }

    &-rtl {
      flex-direction: row-reverse;
    }

    &-image {
      position: relative;
      width: 427px;

      padding-top: 152px;
      padding-left: 20px;
      padding-right: 20px;

      &_1 {
        background-image: url(../img/product1-bg.png);
      }

      &_2 {
        background-image: url(../img/product2-bg.png);
      }
    }

    &-title {
      color: $color-white;
      @include roboto-normal(45px, 50px);
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      padding: 40px;
      padding-top: 70px;
      width: 855px;

      &_1 {
        background-color: $color-blue-2;
      }

      &_2 {
        background-color: $color-blue-1;
      }
    }

    &-item-name {
      @include roboto-normal(24px, 28px);
      margin-bottom: 8px;
    }

    &-price {
      color: $color-grey;
      @include roboto-normal(18px, 21px);
      margin-bottom: 280px;
    }

    &-goods {
      position: absolute;
      top: 30px;
      right: 175px;
    }
  }
}

.hint {
  background-color: $color-blue-1;
  padding-top: 131px;
  padding-bottom: 236px;
  text-align: center;

  &__image {
    margin-bottom: 29px;
  }

  &__text {
    @include roboto-normal(36px, 40px);
    width: 848px;
    margin: 0 auto;
  }
}

.reviews {
  background-color: $color-blue-4;
  padding-top: 114px;
  padding-bottom: 195px;
  text-align: center;

  &__title {
    @include roboto-normal(18px, 30px);
    color: $color-orange;
    margin-bottom: 39px;
  }

  &__description {
    display: inline-block;
    @include roboto-normal(36px, 40px);
    color: $color-white;
    margin-bottom: 96px;
  }
}

.advantages {
  padding-top: 85px;
  padding-bottom: 45px;

  &__card {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 170px;

    &:last-child {
      margin-bottom: 0;
    }

    &-ltr {
      flex-direction: row;
    }

    &-rtl {
      flex-direction: row-reverse;
    }

    &-info {
      width: 418px;
      height: 480px;
      position: relative;

      padding: 81px 50px 20px;

      &_1 {
        background-color: $color-blue-1;
        right: 200px;
      }

      &_2 {
        background-color: $color-peach;
        left: 200px;
      }
    }

    &-title {
      @include roboto-normal(36px, 40px);
      margin-bottom: 50px;
    }

    &-description {
      display: inline-block;
      @include roboto-normal(16px, 20px);
      margin-bottom: 98px;
    }

  }
}