.footer {
  background-color: $color-blue-4;
  padding-top: 100px;
  padding-bottom: 60px;

  .wrapper {
    display: flex;
    flex-direction: row;
  }

  &__block {
    margin-right: 80px;

    &:last-child {
      margin-right: 120px;
    }
  }

  &__company-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 120px;
  }

  &__logo {
    position: relative;
    margin-bottom: 372px;
  }

  &__copyright {
    display: inline-block;
    width: 100%;
    text-align: left;
    color: $color-white;
  }

  &__products {
    width: 213px;
  }


  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &-title {
      color: $color-orange;
      margin-bottom: 40px;
      margin-top: 0;
    }

    &-item {
      margin: 0;
      margin-bottom: 16px;
      padding: 0;
    }

    &-anchor {
      color: $color-white;

      :hover {
        text-decoration: underline;
      }
    }
  }

  &__subscribe {
    width: 310px;
    display: flex;
    flex-direction: column;

    &-signup {
      display: inline-block;
      @include roboto-normal(16px, 20px);
      margin-bottom: 15px;
      color: $color-white;
    }

    &-mail {
      @include roboto-normal(20px, 24px);
      width: 100%;
      background-color: none;
      border: none;
      border-bottom: 1px solid $color-white;
      color: $color-white;
      margin-bottom: 29px;
    }

    &-send {
      margin-bottom: 50px;
    }

    &-social-link {
      margin-right: 24px;
    }

  }

}