*,
*::before,
*::after {
  box-sizing: inherit;
  @include roboto-normal(16px, 24px);
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
}