*,
*::before,
*::after {
  box-sizing: inherit;
  @include roboto-normal(16px, 24px);
  color: $color-dark;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 15px 31px 15px 32px;
  background-color: $color-blue-3;
  border-radius: 31px;
  color: $color-white;
  text-decoration: none;

  &_big {
    border: none;
    width: 100%;
  }

  &-advantage {
    color: $color-dark;
    background-color: none;
    border: 1px solid $color-dark;
  }

  &-footer {
    color: $color-white;
    background-color: none;
    border: 1px solid $color-white;
  }
}