a {
  font-size: inherit;
}

.popup {
  position: relative;
  background-color: $color-orange;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  @include roboto-normal(16px, 24px);

  &__link {
    color: $color-dark;
  }

  &__close {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 12px;
    right: 15px;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -1px;
      right: 7px;
      width: 1px;
      height: 19px;
      background-color: black;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  
}

.header{
  &__content {
    background-image: url("../img/header-bg.png");
  }

  &__title {
    &-text {
    @include roboto-normal(81px, 81px);
    display: block;
    width: 418px;
    margin-bottom: 50px;
    color: $color-white;
    }

    .btn-header {
      margin-bottom: 50px;
    }
  }
}

.nav {
  padding-top: 10px;
  margin-bottom: 300px;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__logo {
    margin-top: 18px;
  }

  &__links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  &__link-item {
    display: block;
    margin-right: 46px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__anchor {
    color: $color-white;
    margin-right: 46px;
  }
}