extends common/layout

block content 
    main.main
        section.about 
            .wrapper
                h3.about__title Hi, we’re Auraglow.
                p.about__text 
                        |   We’re an oral wellness company dedicated to 
                        |   celebrating the unique grins, cherishing the quirky 
                        |   expressions, and turning our expertise into the thing 
                        |   we love most—authentic smiles.
        section.promises
            .wrapper
                h2.promises__title Our promises to you
                ul.promises__items 
                    li.promises__item
                        img(src="./img/promises-stars.png" alt="Promises stars").promises__item-image
                        h2.promises__item-title Whiter Smile
                        p.promises__item-text
                            |   ​​Our clinically proven teeth whitening 
                            |   formula whitens up to 10 shades in 
                            |   just 7 days.
                    li.promises__item
                        img(src="./img/promises-shield.png" alt="Promises shield").promises__item-image
                        h2.promises__item-title Sensitive Whitening
                        p.promises__item-text
                            |   A bright smile is one that stays feeling 
                            |   healthy and happy. So our whitening 
                            |   products do just that.
                    li.promises__item
                        img(src="./img/promises-tooth.png" alt="Promises tooth").promises__item-image
                        h2.promises__item-title Enamel Safe
                        p.promises__item-text
                            |   ​​The whitening ingredients we use have 
                            |   two rules. Stains must go. Enamel must 
                            |   stay.
                    li.promises__item
                        img(src="./img/promises-star.png" alt="Promises star").promises__item-image
                        h2.promises__item-title Made in America
                        p.promises__item-text
                            |   ​​​​Our dental-grade whitening gel is 
                            |   produced right here in the USA.
        section.products
            .wrapper 
                h3.products__title Our Products
                span.products__description Find the right products for your smile
                .products__card.products__card-ltr 
                    .products__card-image 
                        img(src="./img/product2-bg.png" alt="Background").products__card-bg
                        h2.products__card-title Whitening
                        a(href="#").btn Shop whitening
                    .products__card-info 
                        span.products__card-item-name Complete LED Whitening Kit
                        span.products__card-price $80
                        img(src="./img/product1.png" alt="LED whitening kit")
                        button(type="button").btn_big Add To Cart
                .products__card.products__card-rtl
                    .products__card-image 
                        img(src="./img/product1-bg.png" alt="Background").products__card-bg
                        h2.products__card-title Refills & Accessories
                        a(href="#").btn Shop accessories
                    .products__card-info 
                        span.products__card-item-name Whitening Gel
                        span.products__card-price $45
                        img(src="./img/product2.png" alt="Whitening Gel")
                        button(type="button").btn_big Add To Cart
        .hint 
            .wrapper 
                img(src="./img/circles.png" alt="Circles").hint__image
                p.hint__text 
                    |   "You can now multitask while you drive (or sneak 
                    |   away to the bathroom in between meetings) with the 
                    |   Auraglow whitening pen. All it takes is 60 seconds to 
                    |   start seeing a brighter smile."
        section.reviews 
            .wrapper 
                h3.reviews__title Customer Reviews
                span.reviews__description Smiles of all styles love Auraglow
                img(src="./img/reviews.png" alt="Reviews").reviews__image
        section.advantages 
            .wrapper
                .advantages__card.advantages__card-ltr 
                    img(src="./img/advantage1.png" alt="Advantage 1").advantages__card-image
                    .advantages__card-info 
                        h2.advantages__card-title Proven to whiten
                        span.advantages__card-description 
                            |   If your dentist uses it, so do we. Every 
                            |   product we make puts professional-quality 
                            |   ingredients in your hands, to help you be 
                            |   your own version of perfect.
                        a(href="#").btn.btn-advantage See the proof
                .advantages__card.advantages__card-ltr 
                    img(src="./img/advantage2.png" alt="Advantage 2").advantages__card-image
                    .advantages__card-info 
                        h2.advantages__card-title 30 days, risk-free
                        span.advantages__card-description 
                            |   Here’s the deal. Come smile with us for a 
                            |   month. See how you feel. If it’s anything 
                            |   short of excellent, you get every penny 
                            |   back. That’s our promise to you. And it’s 
                            |   that simple.
                        a(href="#").btn.btn-advantage Our guarantee
