$base-color: #ffffff;

$color-dark: #031622;
$color-white: #ffffff;
$color-orange: #FED097;
$color-grey: rgba(8, 38, 63, 0.6);
$color-blue-1: #EDF3F6;
$color-blue-2: rgba(158, 207, 230, 0.49);
$color-blue-3: #225B93;
$color-blue-4: #08263F;


$mediaWidthMobileSmall: 320px;
$mediaWidthMobileBig: 480px;
$mediaWidthTabletSmall: 640px;
$mediaWidthTabletBig: 960px;
$mediaWidthLaptop: 1200px;